$grey: #444;
$light-grey: #808080;
$border-color: #e4e4e4;
$white: #fff;
$black:#000;
$blue: #22599e;
$blue-light: #22599e;
$grey-dark: #d8dee4;

// Media

$ipadair: 820px;
$tablet: 768px;
$mobile: 767px;
$mobile-m: 575px;
$mobile-sm: 460px;
$mobile-sx: 350px;

$sidebar-width: 300px;
$z-index-sidebar: 1000;
$z-index-header: 1000;