.gallary {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    @include breakpoint($ipadair) {
        margin-bottom: 1rem;
    }
}

.gallary__item {
    flex: 0 0 19%;
    margin: 0 1.5rem 1.5rem 0;

    overflow: hidden;
    transition: box-shadow .2s linear, transform .2s linear;

    &:nth-child(5n+5) {
        margin-right: 0;
    }

    &:hover {
        box-shadow: 6px 0px 30px rgba(84, 82, 79, .2);
        transform: scale(1.1);
    }

    & a img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include breakpoint($ipadair) {
        flex: 0 0 30%;
        margin: 0;
    }

    @include breakpoint($mobile-m) {
        flex: 0 0 50%;
        margin: 0;
    }
}