<header class="header">
    <div class="container">
        <div class="header__inner">

            <a class="header__logo" href="#">
                <img class="img" src="assets/images/logo_mini.png" alt="Многопрофильная компания КАСКАД">
                <div class="header__text">
                    <p class="header__text--suptitle">Многопрофильная компания</p>
                    <p class="header__text--subtitle">КАСКАД</p>
                </div>
            </a><!--/.header__logo-->

            <nav class="nav" id="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="index.html">Главная</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link has-subnav" href="about.html">О компании</a>
                        <ul class="nav__list nav__list--subnav">
                            <li>
                                <a class="nav__link nav__link--subnav" href="about.html#capacity">Производственные мощности</a>
                            </li>
                            <li>
                                <a class="nav__link nav__link--subnav" href="about.html#sertificate">Документы</a>
                            </li>
                            <li>
                                <a class="nav__link nav__link--subnav" href="about.html#gallary">Галерея</a>
                            </li>
                            <li>
                                <a class="nav__link nav__link--subnav" href="about.html#partners">Партнеры</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link has-subnav" href="services.html">Услуги</a>
                        <ul class="nav__list nav__list--subnav">
                            <li>
                                <a class="nav__link nav__link--subnav" href="services.html#diving">Подводно-технические, водолазные работы</a>
                            </li>
                            <li>
                                <a class="nav__link nav__link--subnav" href="services.html#repair">Судоремонт</a>
                            </li>
                            <li>
                                <a class="nav__link nav__link--subnav" href="services.html#ship">Плавсредства</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="nav__item">
                        <a class="nav__link" href="project.html">Проекты</a>
                    </li> -->
                    <li class="nav__item">
                        <a class="nav__link" href="contact.html">Контакты</a>
                    </li>
                </ul>
            </nav>

            <button class="burger" type="button" id="sidebarToggle">
                <span></span>
            </button>

        </div><!--/.header__inner-->
    </div><!--/.container-->
</header><!--/.header-->
